<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container-fluid mt-5 pt-2">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-12">
          <h4 class="display-4 text-center">Motor</h4>
          <hr style="border-color:#333736;">
          <p>Aquí podrás ver todas los motores cargadas. También modificar y eliminar alguna de
            ellas si lo consideras necesario.</p>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Cilindrada</th>
                <th scope="col">Potencia</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of motores">
                <td>{{m.id}}</td>
                <td>{{m.cilindrada}}</td>
                <td>{{m.potencia}}</td>
  
                <button type="button" class="btn btn-outline-danger m-2" (click)="eliminar(m.id)">Eliminar</button>
                <button type="button" class="btn btn-outline-dark m-2"  (click)="modificar(m.id)">Modificar</button>
              </tr>
            </tbody>
          </table>
          <div class="row justify-content-between">
            <div class="col-3">
              <a class="btn btn-success btn-block"  [routerLink]="['/motor/nuevo']">
                Nuevo Motor
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>