<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>

</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container-fluid mt-5 pt-2">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-12">
          <h4 class="display-4 text-center">Versiones</h4>
          <hr style="border-color:#333736;">
          <p>Aquí podrás ver todas las versiones cargadas. También modificar y eliminar alguna de
            ellas si lo consideras necesario.</p>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Versión</th>
                <th scope="col">Observación</th>
                <!-- <th scope="col">Modelo</th> -->
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of versiones">
                <td>{{v.id}}</td>
                <td>{{v.nombre}}</td>
                <td>{{v.observacion}}</td>
                <!-- <td>{{v..nombre}}</td> -->
                <!-- <button type="button" class="btn btn-outline-primary m-2" (click)="verCancha(c.idCancha)">Ver</button> -->
                <button type="button" class="btn btn-outline-danger m-2"  (click)="eliminar(v.id)">Eliminar</button>
                <button type="button" class="btn btn-outline-dark m-2"  (click)="modificar(v.id)">Modificar</button>
              </tr>
            </tbody>
          </table>
          <div class="row justify-content-between">
            <div class="col-3">
              <a class="btn btn-success btn-block"  [routerLink]="['/version/nueva']">
                Nueva Versión
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

