<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,500;1,400&family=Scheherazade:wght@400;700&display=swap" rel="stylesheet">

</head>
<header>
  <app-navbar></app-navbar>
</header>
<div *ngIf="isLogged; else loggedOut">
</div>
<ng-template #loggedOut>
<body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <form class="form-register shadow p-4 mb-4" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <h3 class="titulo text-center"><b>Iniciar Sesión</b></h3>
            <hr style="border-color:#333736;">
            <div class="form-group">
              <!-- <label for="nombreUsuarioComplejo">Nombre de Usuario:</label> -->
              <input class="input form-control mt-3 text-center" type="text" name="nombreUsuario" id="nombreUsuario" placeholder= "Usuario"
                [(ngModel)]="nombreUsuario" required>
            </div>
            <div class="form-group">
              <!-- <label for="contra">Contraseña:</label> -->
              <input class="input form-control text-center" type="password" name="contra" id="contra"  [(ngModel)]="contra" placeholder= "Contraseña" required>
              <!-- <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button> -->
            </div>
            <div class="form-group">
            </div>
            <div class="col-md-12 text-center ">
              <button class="btn btn-dark" style="border-radius:50px;" [disabled]="!f.valid"><i
                  class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
            </div>
            <div class="text-center mt-4"><a href="#" style="color: #0840CF ;">Olvidé mi contraseña</a></div>
          </form>
        </div>
      </div>
      <!-- <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">El usuario y/o la contraseña son incorrectos.</div> -->
    </div>
  </body>
</ng-template>
</html>