* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url("http://127.0.0.1:8887/coche.jpg");
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .form-register {
  
    background-color: rgba(113, 111, 111, 0.7);
    border-radius: 18px;
  }
  
  .titulo{
    font-family: 'Poiret One', cursive;
    font-size: 43px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  
  .container {
    padding: 140px !important;
    height: 94.5vh;
    justify-content: left;
    align-items: center;
  }
  
  .input{
    border-radius: 50px;
  }
