<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h2 class="display-4 text-center">Nuevo Vehículo</h2>
        <hr style="border-color:#333736;">
        <p class="pb-0 mb-0">Aquí podrás rellenar los datos para poner a disposición un nuevo vehículo.</p>
        <p class="text-danger small pt-0 mt-0">*Todos lo campos son obligatorios</p>
        <form class="shadow p-4 mb-4 bg-aqua" (ngSubmit)="guardar(formulario)" #formulario="ngForm">

        <div class="form-group row">
          <label class="col-form-label col-5">Marca:</label>
          <select class="form-control col-6" name="marca" id="marca" [(ngModel)]="vehiculo.marca" required
            #marca="ngModel"  minlength="1"
            [class.is-invalid]="marca.invalid && marca.touched"
            [class.is-valid]="marca.valid">
            <option selected="true" hidden>Seleccione la marca</option>
            <option *ngFor="let m of marcas" [ngValue]="m">{{m.nombreMarca}}</option>
          </select>
        </div>

          <div class="form-group row">
            <label class="col-form-label col-5">Modelo:</label>
            <select class="form-control col-6" name="modelo" id="modelo" [(ngModel)]="vehiculo.modelo" required
              #modelo="ngModel"  minlength="1"
              [class.is-invalid]="modelo.invalid && modelo.touched"
              [class.is-valid]="modelo.valid">
              <option selected="true" hidden>Seleccione el modelo</option>
              <option *ngFor="let m of modelos" [ngValue]="m">{{m.nombre}}</option>
            </select>
          </div>


        <div class="form-group row">
          <label class="col-form-label col-5">Versión:</label>
          <select class="form-control col-6" name="version" id="version" [(ngModel)]="vehiculo.version" required
            #version="ngModel"  minlength="1"
            [class.is-invalid]="version.invalid && version.touched"
            [class.is-valid]="version.valid">
            <option selected="true" hidden>Seleccione la versión</option>
            <option *ngFor="let v of versiones" [ngValue]="v">{{v.nombre}}</option>
          </select>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-5">Color:</label>
          <select class="form-control col-6" name="color" id="color" [(ngModel)]="vehiculo.color" required
            #color="ngModel"  minlength="1"
            [class.is-invalid]="color.invalid && color.touched"
            [class.is-valid]="color.valid">
            <option selected="true" hidden>Seleccione el color</option>
            <option *ngFor="let c of colores" [ngValue]="c">{{c.nombreColor}}</option>
          </select>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-5">Condición:</label>
          <select class="form-control col-6" name="condicion" id="condicion" [(ngModel)]="vehiculo.condicion" required
            #condicion="ngModel"  minlength="1"
            [class.is-invalid]="condicion.invalid && condicion.touched"
            [class.is-valid]="condicion.valid">
            <option selected="true" hidden>Seleccione la condición</option>
            <option *ngFor="let c of condiciones" [ngValue]="c">{{c.nombre}}</option>
          </select>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-5">Motor:</label>
          <select class="form-control col-6" name="motor" id="motor" [(ngModel)]="vehiculo.motor" required
            #motor="ngModel"  minlength="1"
            [class.is-invalid]="motor.invalid && motor.touched"
            [class.is-valid]="motor.valid">
            <option selected="true" hidden>Seleccione el motor</option>
            <option *ngFor="let m of motores" [ngValue]="m">{{m.cilindrada}}</option>
          </select>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-5">Tipo Combustible:</label>
          <select class="form-control col-6" name="tipoCombustible" id="tipoCombustible" [(ngModel)]="vehiculo.tipoCombustible" required
            #tipoCombustible="ngModel"  minlength="1"
            [class.is-invalid]="tipoCombustible.invalid && tipoCombustible.touched"
            [class.is-valid]="tipoCombustible.valid">
            <option selected="true" hidden>Seleccione el Tipo Combustible</option>
            <option *ngFor="let tc of tipoCombustibles" [ngValue]="tc">{{tc.nombre}}</option>
          </select>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-5">Tipo Vehículo:</label>
          <select class="form-control col-6" name="tipoVehiculo" id="tipoVehiculo" [(ngModel)]="vehiculo.tipoVehiculo" required
            #tipoVehiculo="ngModel"  minlength="1"
            [class.is-invalid]="tipoVehiculo.invalid && tipoVehiculo.touched"
            [class.is-valid]="tipoVehiculo.valid">
            <option selected="true" hidden>Seleccione el Tipo Vehiculo</option>
            <option *ngFor="let tv of tipoVehiculos" [ngValue]="tv">{{tv.nombre}}</option>
          </select>
        </div>

          <div class="form-group row">
            <label class="col-form-label col-5">Descricpción:</label>
            <textarea rows="4" class="form-control col-6" type="text" name="descripcion" id="descripcion"
              placeholder="Añade una descripcion" [(ngModel)]="vehiculo.descripcion" required style="resize: none;"  #descripcion="ngModel"
              [class.is-invalid]="descripcion.invalid && descripcion.touched"
              [class.is-valid]="descripcion.valid"></textarea>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-5">KMS:</label>
            <input class="form-control col-6" type="number" name="kms" id="kms"
              placeholder="Escriba los kms aquí" [(ngModel)]="vehiculo.kms" required #kms="ngModel"
              [class.is-invalid]="kms.invalid && kms.touched"
              [class.is-valid]="kms.valid">
          </div>

          <div class="form-group row">
            <label class="col-form-label col-5">Precio Lista:</label>
            <input class="form-control col-6" type="number" name="precioLista" id="precioLista"
              placeholder="Escriba los kms aquí" [(ngModel)]="vehiculo.precioLista" required #precioLista="ngModel"
              [class.is-invalid]="precioLista.invalid && precioLista.touched"
              [class.is-valid]="precioLista.valid">
          </div>

          <div class="form-group row">
            <label class="col-form-label col-5">Stock:</label>
            <input class="form-control col-6" type="number" name="stock" id="stock"
              placeholder="Escriba el stock aquí" [(ngModel)]="vehiculo.stock" required #stock="ngModel"
              [class.is-invalid]="stock.invalid && stock.touched"
              [class.is-valid]="stock.valid">
          </div>

          <button type="submit" [disabled]="formulario.invalid" class="btn btn-success mt-3" id="btnGuardar">Guardar
            Vehículo</button>
          <button type="button" class="btn btn-danger pl-2 ml-2 mt-3" id="btnCancelar" routerLink="/vehiculo"
           >Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>

