<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h2 class="display-4 text-center">Nuevo Motor</h2>
        <hr style="border-color:#333736;">
        <p class="pb-0 mb-0">Aquí podrás rellenar los datos para poner a disposición un nuevo motor.</p>
        <p class="text-danger small pt-0 mt-0">*Todos lo campos son obligatorios</p>
        <form class="shadow p-4 mb-4 bg-aqua" (ngSubmit)="guardar(formulario)" #formulario="ngForm">

           <div class="form-group row">
            <label class="col-form-label col-5">Cilindrada:</label>
            <input class="form-control col-6" type="text" name="cilindrada" id="cilindrada"
              placeholder="Escriba la cilindrada aquí" [(ngModel)]="motor.cilindrada" required #cilindrada="ngModel"
              [class.is-invalid]="cilindrada.invalid && cilindrada.touched"
              [class.is-valid]="cilindrada.valid">
          </div>

          <div class="form-group row">
            <label class="col-form-label col-5">Potencia:</label>
            <input class="form-control col-6" type="text" name="potencia" id="potencia"
              placeholder="Escriba la potencia aquí" [(ngModel)]="motor.potencia" required #potencia="ngModel"
              [class.is-invalid]="potencia.invalid && potencia.touched"
              [class.is-valid]="potencia.valid">
          </div>

          <button type="submit" [disabled]="formulario.invalid" class="btn btn-success mt-3" id="btnGuardar">Guardar
            Motor</button>
          <button type="button" class="btn btn-danger pl-2 ml-2 mt-3" id="btnCancelar" routerLink="/motor/nuevo"
           >Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
