<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>

</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container-fluid mt-5 pt-2">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-12">
          <h4 class="display-4 text-center">Vehículos</h4>
          <hr style="border-color:#333736;">
          <p>Aquí podrás ver todos los vehículos cargados. También modificar y eliminar alguno de
            ellos si lo consideras necesario.</p>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Versión</th>
                <th scope="col">Color</th>
                <th scope="col">Motor</th>
                <th scope="col">Combustible</th>
                <th scope="col">Tipo Vehículo</th>
                <th scope="col">Condición</th>
                <th scope="col">KMs</th>
                <th scope="col">Descripción</th>
                <th scope="col">Stock</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of vehiculos">
                <td>{{v.id}}</td>
                <td>{{v.marca.nombreMarca}}</td>
                <td>{{v.modelo.nombre}}</td>
                <td>{{v.version.nombre}}</td>
                <td>{{v.color.nombreColor}}</td>
                <td>{{v.motor.cilindrada}}</td>
                <td>{{v.tipoCombustible.nombre}}</td>
                <td>{{v.tipoVehiculo.nombre}}</td>
                <td>{{v.condicion.nombre}}</td>
                <td>{{v.kms}}</td>
                <td>{{v.descripcion}}</td>
                <td>{{v.stock}}</td>
                <td>{{v.precioLista}}</td>
                <!-- <button type="button" class="btn btn-outline-primary m-2" (click)="verCancha(c.idCancha)">Ver</button> -->
                <button type="button" class="btn btn-outline-danger m-2"  (click)="eliminar(v.id)">Eliminar</button>
                <button type="button" class="btn btn-outline-dark m-2"  (click)="modificar(v.id)">Modificar</button>
              </tr>
            </tbody>
          </table>
          <div class="row justify-content-between">
            <div class="col-3">
              <a class="btn btn-success btn-block"  [routerLink]="['/vehiculo/nuevo']">
                Nueva Vehículo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

