<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container-fluid mt-5 pt-2">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-12">
          <h4 class="display-4 text-center">Colores Disponibles</h4>
          <hr style="border-color:#333736;">
          <p>Aquí podrás ver todos los colores que tienes disponible. También modifcar y eliminar alguno de
            ellos si lo consideras necesario.</p>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre Color</th>
                <th scope="col">Código Color</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of colores">
                <td>{{c.idColor}}</td>
                <td>{{c.nombreColor}}</td>
                <td>{{c.codigoPintura}}</td>
                <button type="button" class="btn btn-outline-danger m-2" (click)="eliminarColor(c.idColor)">Eliminar</button>
                <button type="button" class="btn btn-outline-dark m-2" (click)="modificarColor(c.idColor)">Modificar</button>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-success mt-3" id="btnNuevoColor" [routerLink]="['/colores/nuevo-color']">Nuevo
            Color</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
