
<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" *ngIf="isLogged" type="button" data-toggle="dropdown">Administración
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="a nav-link" style= "color: gray;" href="/version">Versiones</a>
                    </li>
                    <li class="nav-item">
                      <a class="a nav-link" style= "color: gray;" href="/condicion">Condición Vehículo</a>
                    </li>
                    <li class="nav-item">
                      <a class="a nav-link" style= "color: gray;" href="/tipocombustible">Tipo Combustible</a>
                    </li>
                    <li class="nav-item">
                      <a class="a nav-link" style= "color: gray;" href="/tipovehiculo">Tipo Vehículo</a>
                    </li>
                    <li class="nav-item">
                      <a class="a nav-link" style= "color: gray;" href="/motor">Motor</a>
                    </li>
                    <li class="nav-item">
                      <a class="a nav-link" style= "color: gray;" href="/modelo">Modelo</a>
                    </li>
                    <li class="nav-item">
                      <a class="a nav-link" style= "color: gray;" href="/colores">Colores</a>
                    </li>
                    <li class="nav-item">
                      <a class="a nav-link" style= "color: gray;" href="/marca">Marca</a>
                    </li>
                  </ul>
                </div>
              </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">

                <li class="nav-item">
                  <a class="nav-link waves-light" *ngIf="isLogged" routerLink="/home"><i class="fas fa-home"></i> Home</a>
                </li>
                <!-- <li class="nav-item" *ngIf="isLogged">
                  <a class="nav-link" href="/canchas">Canchas</a>
                </li> -->
                <li class="nav-item" *ngIf="isLogged && isAdmin">
                  <a class="nav-link" routerLink="/auth/nuevo"><i class="fas fa-user-plus"></i> Nuevo Empleado</a>
                </li>
                <li class="nav-item" *ngIf="isLogged">
                  <a class="nav-link" routerLink="/clientes"><i class="fas fa-user-plus"></i> Clientes</a>
                </li>
                <li class="nav-item" *ngIf="isLogged">
                  <a class="nav-link" routerLink="/vehiculo"><i class="fas fa-car"></i> Vehículos</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isLogged">
                  <a class="nav-link"  routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
                </li>
                <li class="nav-item" *ngIf="isLogged" >
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{usuarioLog}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#"><i class="fas fa-user-edit"></i> Mi perfil</a>
                      <a class="dropdown-item" style="cursor: pointer;"(click)="onLogOut()"><i class="fas fa-door-open" ></i> Cerrar Sesión</a>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </nav>
      </body>
</html>

