<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h2 class="display-4 text-center">Nuevo Cliente</h2>
        <hr style="border-color:#333736;">
        <p class="text-danger small pt-0 mt-0">*Todos lo campos son obligatorios</p>
        <form class="shadow p-4 mb-4 bg-aqua" (ngSubmit)="guardar(formulario)" #formulario="ngForm">
          <!-- <div class="form-group row">
            <label class="col-form-label col-5">ID complejo:</label>
            <input class="form-control col-6" type="text" name="idComplejo" id="idComplejo"
              [(ngModel)]="complejo.idComplejo" readonly>
          </div> -->

          <label class="label" for="nombreCliente">Nombre:</label>
          <input class="form-control mb-2" type="text" ngModel name="nombreCliente" id='nombreCliente' placeholder="Ingrese nombre"
            required #nombreCliente="ngModel"
            [class.is-invalid]="nombreCliente.invalid && nombreCliente.touched"
            [class.is-valid]="nombreCliente.valid" minlength="3">

            <label class="label" for="apellidoCliente">Apellido:</label>
            <input class="form-control mb-2" type="text" ngModel name="apellidoCliente" id='apellidoCliente' placeholder="Ingrese apellido"
              required #apellidoCliente="ngModel"
              [class.is-invalid]="apellidoCliente.invalid && apellidoCliente.touched"
              [class.is-valid]="apellidoCliente.valid" minlength="3">

              <label class="label" for="emailCliente">E-mail:</label>
              <input class="form-control mb-2" type="email" ngModel name="emailCliente" id='emailCliente' placeholder="Ingrese e-mail"
                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required
                #emailCliente="ngModel"
                [class.is-invalid]="emailCliente.invalid && emailCliente.touched"
                [class.is-valid]="emailCliente.valid">

                
              <label class="label" for="direccionCliente">Direccion:</label>
              <input class="form-control mb-2" type="text" ngModel name="direccionCliente" id='direccionCliente' placeholder="Ingrese Direccion"
                required #direccionCliente="ngModel"
                [class.is-invalid]="direccionCliente.invalid && direccionCliente.touched"
                [class.is-valid]="direccionCliente.valid" minlength="3">

                <label class="label" for="dniCliente">DNI:</label>
                <input class="form-control mb-2" type="text" ngModel name="dniCliente" id='dniCliente' placeholder="Ingrese DNI"
                  required #dniCliente="ngModel"
                  [class.is-invalid]="dniCliente.invalid && dniCliente.touched"
                  [class.is-valid]="dniCliente.valid" minlength="3">

                  
                    <label class="label">Localidad:</label>
                    <select class="form-control mb-2" ngModel name="nombreLocalidad" id="nombreLocalidad" ngModel required
                      minlength="1" #nombreLocalidad="ngModel"
                      [class.is-invalid]="nombreLocalidad.invalid && nombreLocalidad.touched"
                      [class.is-valid]="nombreLocalidad.valid">
                      <option value="" selected hidden>Seleccione la localidad</option>
                      <option *ngFor="let l of localidades" [ngValue]="l">{{l.nombreLocalidad}}</option>
                    </select>
                
                  
                  <label class="label" for="telefonoCliente">Telefono:</label>
                  <input class="form-control mb-2" type="text" ngModel name="telefonoCliente" id='telefonoCliente' placeholder="Ingrese Telefono"
                    required #telefonoCliente="ngModel"
                    [class.is-invalid]="telefonoCliente.invalid && telefonoCliente.touched"
                    [class.is-valid]="telefonoCliente.valid" minlength="3">


          
          <button type="submit" [disabled]="formulario.invalid" class="btn btn-success mt-3" id="btnGuardar">Guardar
            Cancha</button>
          <button type="button" class="btn btn-danger pl-2 ml-2 mt-3" id="btnCancelar" routerLink="/clientes"
           >Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
