<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container-fluid mt-5 pt-2">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-12">
          <h4 class="display-4 text-center">Clientes</h4>
          <hr style="border-color:#333736;">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Direccion</th>
                <th scope="col">Dni</th>
                <th scope="col">Localidad</th>
                <th scope="col">Telefono</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of clientes">
                <td>{{c.idCliente}}</td>
                <td>{{c.nombreCliente}}</td>
                <td>{{c.apellidoCliente}}</td>
                <td>{{c.emailCliente}}</td>
                <td>{{c.direccionCliente}}</td>
                <td>{{c.dniCliente}}</td>
                <td>{{c.localidad.nombreLocalidad}}</td>
                <td>{{c.telefonoCliente}}</td>
                <!-- <button type="button" class="btn btn-outline-primary m-2" (click)="verCancha(c.idCancha)">Ver</button> -->
                <button type="button" class="btn btn-outline-danger m-2" *ngIf="isLogged" (click)="eliminarCliente(c.idCliente)">Eliminar</button>
                <button type="button" class="btn btn-outline-dark m-2" *ngIf="isLogged" (click)="modificarCliente(c.idCliente)">Modificar</button>
              </tr>
            </tbody>
          </table>
          <div class="row justify-content-between">
            <div class="col-3">
              <a class="btn btn-success btn-block" *ngIf="isLogged" [routerLink]="['/clientes', 'nuevo']">
                Nuevo Cliente
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>