<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h2 class="display-4 text-center">Nueva Versión</h2>
        <hr style="border-color:#333736;">
        <p class="pb-0 mb-0">Aquí podrás rellenar los datos para poner a disposición una nueva versión.</p>
        <p class="text-danger small pt-0 mt-0">*Todos lo campos son obligatorios</p>
        <form class="shadow p-4 mb-4 bg-aqua" (ngSubmit)="guardar(formulario)" #formulario="ngForm">

           <div class="form-group row">
            <label class="col-form-label col-5">Nombre:</label>
            <input class="form-control col-6" type="text" name="nombre" id="nombre"
              placeholder="Escriba la versión aquí" [(ngModel)]="version.nombre" required #nombre="ngModel"
              [class.is-invalid]="nombre.invalid && nombre.touched"
              [class.is-valid]="nombre.valid">
          </div>

        <!-- <div class="form-group row">
          <label class="col-form-label col-5">Modelo:</label>
          <select class="form-control col-6" name="modelo" id="modelo" [(ngModel)]="version.modelo" required
            #modelo="ngModel"  minlength="1"
            [class.is-invalid]="modelo.invalid && modelo.touched"
            [class.is-valid]="modelo.valid">
            <option selected="true" hidden>Seleccione el modelo</option>
            <option *ngFor="let m of modelos" [ngValue]="m">{{m.nombre}}</option>
          </select>
        </div> -->

          <div class="form-group row">
            <label class="col-form-label col-5">Observación:</label>
            <textarea rows="4" class="form-control col-6" type="text" name="observacion" id="observacion"
              placeholder="Añade una observación" [(ngModel)]="version.observacion" required style="resize: none;"  #observacion="ngModel"
              [class.is-invalid]="observacion.invalid && observacion.touched"
              [class.is-valid]="observacion.valid"></textarea>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-5">Modelo:</label>
            <select class="form-control col-6" name="modelo" id="modelo" [(ngModel)]="version.modelo" required
              #modelo="ngModel"  minlength="1"
              [class.is-invalid]="modelo.invalid && modelo.touched"
              [class.is-valid]="modelo.valid">
              <option selected="true" hidden>Seleccione la marca</option>
              <option *ngFor="let m of modelos" [ngValue]="m">{{m.nombre}}</option>
            </select>
          </div>


          <button type="submit" [disabled]="formulario.invalid" class="btn btn-success mt-3" id="btnGuardar">Guardar
            Versión</button>
          <button type="button" class="btn btn-danger pl-2 ml-2 mt-3" id="btnCancelar" routerLink="/version"
           >Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
