<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h2 class="display-4 text-center">Nuevo Modelo</h2>
        <hr style="border-color:#333736;">
        <p class="pb-0 mb-0">Aquí podrás rellenar los datos para poner a disposición un nuevo modelo.</p>
        <p class="text-danger small pt-0 mt-0">*Todos lo campos son obligatorios</p>
        <form class="shadow p-4 mb-4 bg-aqua" (ngSubmit)="guardar(formulario)" #formulario="ngForm">

           <div class="form-group row">
            <label class="col-form-label col-5">Nombre:</label>
            <input class="form-control col-6" type="text" name="nombre" id="nombre"
              placeholder="Escriba el nombre aquí" [(ngModel)]="modelo.nombre" required #nombre="ngModel"
              [class.is-invalid]="nombre.invalid && nombre.touched"
              [class.is-valid]="nombre.valid">
          </div>

          <div class="form-group row">
            <label class="col-form-label col-5">Marca:</label>
            <select class="form-control col-6" name="marca" id="marca" [(ngModel)]="modelo.marca" required
              #marca="ngModel"  minlength="1"
              [class.is-invalid]="marca.invalid && marca.touched"
              [class.is-valid]="marca.valid">
              <option selected="true" hidden>Seleccione la marca</option>
              <option *ngFor="let m of marcas" [ngValue]="m">{{m.nombreMarca}}</option>
            </select>
          </div>

          <button type="submit" [disabled]="formulario.invalid" class="btn btn-success mt-3" idModelo="btnGuardar">Guardar
            Modelo</button>
          <button type="button" class="btn btn-danger pl-2 ml-2 mt-3" idModelo="btnCancelar" routerLink="/modelo"
           >Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
