<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Document</title>
</head>
<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h2 class="display-4 text-center">Modificar Tipo de Combustible</h2>
        <hr style="border-color:#333736;">
        <p class="pb-0 mb-0">Aquí podrás modificar los datos de un tipo de combustible.</p>
        <p class="text-danger small pt-0 mt-0">*Todos lo campos son obligatorios</p>
        <form class="shadow p-4 mb-4 bg-aqua" (ngSubmit)="guardar(formulario)" #formulario="ngForm">

           <div class="form-group row">
            <label class="col-form-label col-5">Nombre:</label>
            <input class="form-control col-6" type="text" name="nombre" id="nombre"
              placeholder="Escriba el tipo de combustible aquí" [(ngModel)]="combustible.nombre" required #nombre="ngModel"
              [class.is-invalid]="nombre.invalid && nombre.touched"
              [class.is-valid]="nombre.valid">
          </div>

          <button type="submit" [disabled]="formulario.invalid" class="btn btn-success mt-3" id="btnGuardar">Guardar
            Tipo Combustible</button>
          <button type="button" class="btn btn-danger pl-2 ml-2 mt-3" id="btnCancelar" routerLink="/tipocombustible"
           >Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>


